<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>reactive</title>
  </head>
  <body>
    <div id="app2"></div>
    <div id="app3"></div>
  </body>
  <script type="module">
    import { reactive } from "./reactive.js";
    // const reactive = require('./reactive.js')
    import { effect } from "./effect.js";
    // const effect = require('./effect.js')
    const user = reactive({
      name: "小满",
      age: 18,
      foo: {
        bar: 123
      },
      list: {
        name: '大圣'
      }
    });

    effect(() => {
      document.querySelector("#app2").innerHTML = `${user.name} - ${user.age} - ${user.foo.bar}`;
    });
    setTimeout(function(){
      user.name = '大满xxx'
      setTimeout(function(){
        user.age = 22
      }, 1000)
      setTimeout(function(){
        user.foo.bar = 33
      }, 3000)
    }, 2000)
    effect(() => {
      document.querySelector("#app3").innerHTML = `${user.list.name}`;
    });
    setTimeout(function(){
      user.list.name = '大满1222xxx'
      
    }, 6000)
  </script>
</html>
